.anime-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.anime-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
  position: relative;
}

.anime-card:hover {
  transform: translateY(-10px);
  transform: translate(0, -10px);
 
}

.anime-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  object-fit: contain;
}

.anime-card h3 {
  font-size: 18px;
  margin-top: auto;
  width: 100%;
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.anime-card p {
  font-size: 10px;
  color: #666;
  margin-bottom: 20px;
}

.modal-anime {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.modal-content-anime {
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  border-radius: 8px;
  position: fixed;
}

.modal-content-anime h2 {
  font-size: 15px;
  margin-bottom: 10px;
}

.modal-content-anime p {
  font-size: 16px;
  margin-bottom: 20px;
}

.modal-content-anime button {
  background-color: #ff4081;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #d81b60;
}
@media only screen and (max-width: 600px) {
  .anime-grid {
    grid-template-columns: 1fr;
  }

  .anime-card {
    width: 100%;
  }
}